<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./bootstrap-5.2.3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="./stylesheets/styleLogin.css" />
  </head>
  <body>
    <div class="" style="background: white; width: 80%; text-align: center; margin: auto; margin-top: 50px; padding: 30px;">
    <h1>Login</h1>
      <form action="/login" method="POST">
        <div>Username</div>
        <input type="text" name="username" />
        <br />
        <div>Password</div>
        <input type="password" name="password" />
        <br />
        <br />

        <a href="/">
          <button type="button">Back</button>
        </a>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
