/* <!--page 2--> */


body{
  width: 100%;
  height: 100%;
  background-color: moccasin;
}

.btn-suit{
  background:none;
  border:none;
}

.btn-choose-suit{
  background-color: grey;
  border-radius: 10%;
  width: 8em;
  height: 8em;
}

.com-choose-suit{
  background-color: grey;
  border-radius: 10%;
  width: 8em;
  height: 8em;
}

#result-label{
  color: red;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

.lbl-hasil-suit{
  background-color: green;
  width: 5em;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5%;
  transform: rotate(-0.10turn);
  font-size: 40px !important;
  color: white !important; 
} 